{% include base_path %}

<meta charset="utf-8">

{% include seo.html %}

<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ base_path }}/feed.xml{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<div style="width: 200px; height: 100px; overflow: hidden;">
  <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=CxPuLupp87wWkeHkVRmPomjtrbgDz-kzjqxNiiktY1I&cl=ffffff&w=a" style="transform: scale(0.1); transform-origin: 0 0;"></script>
</div>


<!-- For all browsers -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/main.css">

<meta http-equiv="cleartype" content="on">
